@-webkit-keyframes drop {
	  0% {
		    top: 5px;
		    opacity: 0;
	  }
	  30% {
		    top: 10px;
		    opacity: 1;
	  }
	  100% {
		    top: 20px;
		    opacity: 0;
	  }
}

@keyframes drop {
	  0% {
		    top: 5px;
		    opacity: 0;
	  }
	  30% {
		    top: 10px;
		    opacity: 1;
	  }
	  100% {
		    top: 20px;
		    opacity: 0;
	  }
}